@media all and (min-width: 200px) and (max-width: 600px) {
  #root {
    margin: 10%;
  }
}
#root .btn-group-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
}
@media all and (min-width: 200px) and (max-width: 1035px) {
  #root .btn-group-container {
    grid-template-columns: auto;
    width: 100%;
    grid-row-gap: 30px;
  }
}
#root .btn-group-container .dropdown-btn-group {
  display: flex;
  flex-direction: column;
}
@media all and (min-width: 200px) and (max-width: 1035px) {
  #root .btn-group-container .dropdown-btn-group {
    margin-right: 0 !important;
  }
}
#root .btn-group-container .dropdown-btn-group .dropdown-button {
  height: 70px !important;
  border-radius: 5px;
}
@media all and (min-width: 200px) and (max-width: 1035px) {
  #root .btn-group-container .dropdown-btn-group .dropdown-button {
    display: flex;
    justify-content: space-between;
  }
}
#root .btn-group-container .dropdown-btn-group .dropdown-button .dropdown-button__input {
  background-color: transparent;
  border: none;
  width: 130px;
  margin-right: 10px;
  float: left;
  color: white;
}
@media all and (min-width: 200px) and (max-width: 840px) {
  #root .btn-group-container .dropdown-btn-group .dropdown-button .dropdown-button__input {
    margin-right: 0;
  }
}
#root .btn-group-container .dropdown-btn-group .dropdown-button .dropdown-button__input::placeholder {
  color: white;
  opacity: 1;
}
#root .btn-group-container .dropdown-btn-group .dropdown-button .dropdown-button__input:focus {
  outline: none;
}
@media all and (min-width: 200px) and (max-width: 1035px) {
  #root .btn-group-container .dropdown-btn-group .dropdown-button .dropdown-spinner {
    margin-right: 5px;
    margin-top: 10px;
  }
}
@media all and (min-width: 600px) and (max-width: 840px) {
  #root .btn-group-container .dropdown-btn-group .dropdown-button .dropdown-spinner {
    margin-left: 55%;
  }
}
@media all and (min-width: 440px) and (max-width: 600px) {
  #root .btn-group-container .dropdown-btn-group .dropdown-button .dropdown-spinner {
    margin-left: 45%;
  }
}
@media all and (min-width: 355px) and (max-width: 440px) {
  #root .btn-group-container .dropdown-btn-group .dropdown-button .dropdown-spinner {
    margin-left: 30%;
  }
}
@media all and (min-width: 200px) and (max-width: 355px) {
  #root .btn-group-container .dropdown-btn-group .dropdown-button .dropdown-spinner {
    margin-left: 0;
  }
}
#root .btn-group-container .dropdown-btn-group .dropdown-button .dropdown-spinner path {
  pointer-events: none;
}
#root .btn-group-container .dropdown-btn-group .dropdown-button__unroll {
  width: auto;
  border-top-right-radius: 5px !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
#root .btn-group-container .dropdown-btn-group .dropdown-button__unroll .dropdown-button__input {
  background-color: transparent;
  border: none;
  width: 90%;
  margin-right: 10px;
  float: left;
  color: white;
}
#root .btn-group-container .dropdown-btn-group .dropdown-button__unroll .dropdown-button__input::placeholder {
  color: white;
  opacity: 0.5;
}
#root .btn-group-container .dropdown-btn-group .dropdown-button__unroll .dropdown-button__input:focus {
  outline: none;
}
#root .btn-group-container .dropdown-btn-group .dropdown-button__unroll .dropdown-spinner path {
  pointer-events: none;
}
#root .btn-group-container .dropdown-btn-group .dropdown-list-container {
  display: none;
}
#root .btn-group-container .dropdown-btn-group .dropdown-list-container__unroll {
  display: flex;
  width: 100%;
  position: relative;
  z-index: 1;
}
#root .btn-group-container .dropdown-btn-group .dropdown-list-container__unroll .dropdown-list {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 50px;
  padding: 20px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
@media all and (min-width: 200px) and (max-width: 510px) {
  #root .btn-group-container .dropdown-btn-group .dropdown-list-container__unroll .dropdown-list {
    grid-template-columns: auto auto;
  }
}
@media all and (min-width: 200px) and (max-width: 510px) {
  #root .btn-group-container .dropdown-btn-group .dropdown-list-container__unroll .dropdown-list {
    grid-template-columns: auto;
    justify-content: center;
    grid-gap: 0;
  }
}
#root .btn-group-container .dropdown-btn-group .dropdown-list-container__unroll .dropdown-list a {
  text-decoration: none;
}

/*# sourceMappingURL=dropdown-filter.css.map */
