.btn-group-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  .dropdown-btn-group {
    display: flex;
    flex-direction: column;
    width: fit-content;
    .dropdown-button {
      height: 70px !important;
      border-radius: 5px;
      .dropdown-button__input {
        background-color: transparent;
        border: none;
        width: 130px;
        margin-right: 10px;
        float: left;
        color: white;
        &::placeholder {
          color: white;
          opacity: 1;
        }
        &:focus {
          outline: none;
        }
      }
      svg {
        path {
          pointer-events: none;
        }
      }
    }
    .dropdown-button__unroll {
      width: auto;
      border-top-right-radius: 5px !important;
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      .dropdown-button__input {
        background-color: transparent;
        border: none;
        width: 90%;
        margin-right: 10px;
        float: left;
        color: white;
        &::placeholder {
          color: white;
          opacity: 0.5;
        }
        &:focus {
          outline: none;
        }
      }
    }
    .dropdown-list-container {
      display: none;
    }
    .dropdown-list-container__unroll {
      display: flex;
      width: 100%;
      position: relative;
      z-index: 1;
      .dropdown-list {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-column-gap: 50px;
        padding: 20px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
          a {
            text-decoration: none;
          }
      }
    }
  }
}

