#root {
  @media all and (min-width: 200px) and (max-width: 1035px) {
    margin: 10%;
  }
  .btn-group-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    margin-top: 10px;
    z-index: 2;
    position: absolute;
    @media all and (min-width: 200px) and (max-width: 1035px) {
      grid-template-columns: auto;
      width: 80%;
      grid-row-gap: 30px;
    }
    .dropdown-btn-group {
      display: flex;
      flex-direction: column;
      @media all and (min-width: 200px) and (max-width: 1035px) {
        margin-right: 0 !important;
      }
      .dropdown-button {
        height: 70px !important;
        border-radius: 5px;
        @media all and (min-width: 200px) and (max-width: 1035px) {
          display: flex;
          justify-content: space-between;
        }
        .dropdown-button__input {
          background-color: transparent;
          border: none;
          width: 130px;
          margin-right: 10px;
          float: left;
          color: white;
          @media all and (min-width: 200px) and (max-width: 840px) {
            margin-right: 0;
          }
          &::placeholder {
            color: white;
            opacity: 1;
          }
          &:focus {
            outline: none;
          }
        }
        .dropdown-spinner {
          @media all and (min-width: 200px) and (max-width: 1035px) {
            margin-right: 5px ;
            margin-top: 10px;
          }
          @media all and (min-width: 600px) and (max-width: 840px) {
            margin-left: 55%;
          }
          @media all and (min-width: 440px) and (max-width: 600px) {
            margin-left: 45%;
          }
          @media all and (min-width: 355px) and (max-width: 440px) {
            margin-left: 30%;
          }
          @media all and (min-width: 200px) and (max-width: 355px) {
            margin-left: 0;
          }
          path {
            pointer-events: none;
          }
        }
      }
      .dropdown-button__unroll {
        width: auto;
        border-top-right-radius: 5px !important;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        .dropdown-button__input {
          background-color: transparent;
          border: none;
          width: 90%;
          margin-right: 10px;
          float: left;
          color: white;
          &::placeholder {
            color: white;
            opacity: 0.5;
          }
          &:focus {
            outline: none;
          }
        }
        .dropdown-spinner {
          path {
            pointer-events: none;
          }
        }
      }
      .dropdown-list-container {
        display: none;
      }
      .dropdown-list-container__unroll {
        display: flex;
        width: 100%;
        position: relative;
        z-index: 1;
        .dropdown-list {
          width: 100%;
          display: grid;
          grid-template-columns: auto auto auto;
          grid-column-gap: 50px;
          padding: 20px;
          border-bottom-right-radius: 5px;
          border-bottom-left-radius: 5px;
          @media all and (min-width: 200px) and (max-width: 510px) {
            grid-template-columns: auto auto;
          }
          @media all and (min-width: 200px) and (max-width: 510px) {
            grid-template-columns: auto;
            justify-content: center;
            grid-gap: 0;
          }
          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}

