@import "../utils/variables";

#recipes {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5em;
  margin-top: 40px;
  justify-content: space-between;
  @media all and (min-width: 1311px) and (max-width: 1690px) {
    grid-template-columns: auto auto auto;
    grid-gap: 3em;
  }
  @media all and (min-width: 1030px) and (max-width: 1310px) {
    grid-template-columns: auto auto;
    grid-gap: 5em;
  }
  @media all and (min-width: 200px) and (max-width: 1029px) {
    grid-template-columns: auto;
    justify-content: center;
  }
  @media all and (min-width: 200px) and (max-width: 679px) {
    padding: 0;
    grid-row-gap: 50px;
  }
  @media all and (min-width: 200px) and (max-width: 500px) {
    padding: 0;
    grid-row-gap: 0;
  }
  .recipe {
    display: flex;
    height: 480px;
    max-width: 480px;
    border-radius: 5px;
    z-index: 0;
    @media all and (min-width: 1311px) and (max-width: 1690px) {
      height: 400px;
    }
    @media all and (min-width: 300px) and (max-width: 1310px) {
      width: 100%;
    }
    @media all and (min-width: 200px) and (max-width: 400px) {
      height: 600px !important;
    }
    .recipe-img {
      background: $secondary-bg-color;
      height: 50%;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      @media all and (min-width: 200px) and (max-width: 550px) {
        height: 30% !important;
      }
    }
    .recipe-description {
      background: $primary-bg-color;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      .recipe-title {
        .recipe-name {
          font-size: 18px !important;
        }
        .recipe-time {
          font-size: 18px !important;
          svg {
            margin-right: 10px;
          }
        }
      }
      .recipe-method {
        max-height: 75%;
        @media all and (min-width: 200px) and (max-width: 400px) {
          display: flex;
          flex-direction: column;
          height: 100%;
        }
        .recipe-ingredients {
          @media all and (min-width: 200px) and (max-width: 400px) {
            width: 100% !important;
          }
          ul {
            list-style: none;
            li {
              font-size: 12px !important;
            }
          }
        }
        .recipe-instructions {
          font-size: 12px !important;
          overflow: hidden;
          line-height: $line-h;
          max-height: calc(#{$line-h }* #{$nth-lines-trunc});
          text-align: justify;
          padding-right: 10px;
          margin: 0 auto;
          text-overflow: ellipsis;
          //position: relative;
          &::after {
            content: '...';
            position: absolute;
            bottom: 0;
            right: 0;
            margin-left: 3px;
            text-overflow: ellipsis;
          }
          @media all and (min-width: 200px) and (max-width: 400px) {
            width: 100% !important;
          }
          //&:hover {
          //  font-size: inherit;
          //  max-height: inherit;
          //  display: inline-block;
          //  overflow: inherit;
          //  text-overflow: inherit;
          //  position: relative;
          //  z-index: 3;
          //  background: $primary-bg-color;
          //  color: black;
          //  height: 450px !important;
          //  padding: 10px;
          //  border-radius: 5px;
          //  bottom: 290px;
          //  left: 16px;
          //  right: 0;
          //  opacity: 0.90;
          //  transition: width ease .6s;
          //  cursor: text;
          //  @media all and (min-width: 1311px) and (max-width: 1690px) {
          //    height: 400px;
          //  }
          //  @media all and (min-width: 200px) and (max-width: 400px) {
          //    height: 600px !important;
          //  }
          //}
        }
      }
    }
  }
}
