@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");
@import "components/dropdown-filter.css";
body {
  box-sizing: border-box;
  margin: 3em 6em 3em 6em;
}
body header h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #D04F4F;
}

#searchbar {
  background: #E7E7E7 !important;
  border-radius: 5px;
}
#searchbar .searchbar-input {
  border: none !important;
  box-shadow: none !important;
  background: #E7E7E7 !important;
  padding: 1.2%;
}
@media all and (min-width: 200px) and (max-width: 1050px) {
  #searchbar .searchbar-input {
    height: 50px !important;
    padding: 3%;
  }
}
@media all and (min-width: 700px) and (max-width: 1255px) {
  #searchbar #search-icon-zoom {
    width: 25px !important;
    height: 25px !important;
  }
}
@media all and (min-width: 200px) and (max-width: 700px) {
  #searchbar #search-icon-zoom {
    width: 20px !important;
    height: 20px !important;
  }
}

#recipes {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5em;
  margin-top: 140px;
  justify-content: space-between;
}
@media all and (min-width: 1311px) and (max-width: 1690px) {
  #recipes {
    grid-template-columns: auto auto auto;
    grid-gap: 3em;
  }
}
@media all and (min-width: 1035px) and (max-width: 1310px) {
  #recipes {
    grid-template-columns: auto auto;
    grid-gap: 5em;
  }
}
@media all and (min-width: 200px) and (max-width: 1035px) {
  #recipes {
    grid-template-columns: auto;
    justify-content: center;
    margin-top: 350px;
  }
}
@media all and (min-width: 200px) and (max-width: 679px) {
  #recipes {
    padding: 0;
    grid-row-gap: 50px;
  }
}
@media all and (min-width: 200px) and (max-width: 500px) {
  #recipes {
    padding: 0;
    grid-row-gap: 0;
  }
}
#recipes .recipe {
  display: flex;
  height: 480px;
  max-width: 480px;
  border-radius: 5px;
  z-index: 0;
}
@media all and (min-width: 1311px) and (max-width: 1690px) {
  #recipes .recipe {
    height: 475px;
  }
}
@media all and (min-width: 300px) and (max-width: 1310px) {
  #recipes .recipe {
    width: 100%;
  }
}
@media all and (min-width: 200px) and (max-width: 400px) {
  #recipes .recipe {
    height: 600px !important;
  }
}
#recipes .recipe .recipe-img {
  background: #C7BEBE;
  height: 50%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
@media all and (min-width: 200px) and (max-width: 550px) {
  #recipes .recipe .recipe-img {
    height: 30% !important;
  }
}
#recipes .recipe .recipe-description {
  background: #E7E7E7;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#recipes .recipe .recipe-description .recipe-title .recipe-name {
  font-size: 18px !important;
}
#recipes .recipe .recipe-description .recipe-title .recipe-time {
  font-size: 18px !important;
}
#recipes .recipe .recipe-description .recipe-title .recipe-time svg {
  margin-right: 10px;
}
#recipes .recipe .recipe-description .recipe-method {
  max-height: 75%;
}
@media all and (min-width: 200px) and (max-width: 400px) {
  #recipes .recipe .recipe-description .recipe-method {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
@media all and (min-width: 200px) and (max-width: 400px) {
  #recipes .recipe .recipe-description .recipe-method .recipe-ingredients {
    width: 100% !important;
  }
}
#recipes .recipe .recipe-description .recipe-method .recipe-ingredients ul {
  list-style: none;
}
#recipes .recipe .recipe-description .recipe-method .recipe-ingredients ul li {
  font-size: 12px !important;
}
#recipes .recipe .recipe-description .recipe-method .recipe-instructions {
  font-size: 12px !important;
  overflow: hidden;
  line-height: 14px;
  max-height: calc(14px* 10);
  text-align: justify;
  padding-right: 10px;
  margin: 0 auto;
  text-overflow: ellipsis;
}
#recipes .recipe .recipe-description .recipe-method .recipe-instructions__overflow {
  position: relative;
}
#recipes .recipe .recipe-description .recipe-method .recipe-instructions::after {
  content: "...";
  position: absolute;
  bottom: 0;
  right: 0;
  margin-left: 3px;
  text-overflow: ellipsis;
}
@media all and (min-width: 200px) and (max-width: 400px) {
  #recipes .recipe .recipe-description .recipe-method .recipe-instructions {
    width: 100% !important;
  }
}

/*# sourceMappingURL=style.css.map */
